<div class="wrapper">
  <div class="side_bar">
    <%= render "side_bar" %>
  </div>
  <div class="main_chat">
    <%= render "main_chat" %>
    <div class="main_header">
    </div>
    <div class="chat">
    </div>
    <div class="form">
  </div>
</div>
